main {
  gap: 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
}

.form_section {
  display: flex;
  column-gap: 8px;

  input {
    flex: 1;
  }
}

.error {
  color: rgb(243, 52, 52);
  text-wrap: pretty;
}
