:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color-scheme: light dark;

  --bg: #272a2c;
  --acent: #3c4755;
  
  @media (prefers-color-scheme: light) {
    --bg: #2e3235;
    --acent: #2a333d;
  }
}

* {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  place-items: center;
}

main {
  padding: 16px;
}

section {
  overflow: hidden;
  border-radius: 16px;
  background-color: var(--bg);

  & > div {
    padding: 16px;
    display: grid;
    row-gap: 16px;
    max-width: 500px;

    &:first-of-type {
      background-color: #3d4347;
    }
  }

  ul {
    display: grid;
    row-gap: 4px;
  }
}

.measurement {
  p {
    font-size: small;
  }
}

ul {
  list-style: none;
}

label {
  gap: 8px;
  display: grid;
}

form {
  display: grid;
  row-gap: 8px;
}

input {
  border: none;
  padding: 8px 16px;
  font-size: medium;
  border-radius: 8px;
  background-color: var(--acent);
}

button, .button {
  display: block;
  border: none;
  cursor: pointer;
  padding: 8px 16px;
  font-size: medium;
  font-weight: bolder;
  font-family: inherit;
  border-radius: 8px;
  background-color: #2975cc;
  transition: border-color 0.25s;
}

.text-sm {
  font-size: small;
}
